---
layout: default
comments: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="amazon-wishlist"><br/><br/>
        <hr><br/><br/>
        <p>Did my post help in some way? Feel free to get me something on Amazon! <br/><br/>The wishlist should be displayed below but sometimes it gets blocked by adblock, if that is the case you can find it <a href="https://www.amazon.de/registry/wishlist/1V1L7L1W6OBMT/">here</a></p>
        <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=DE&ID=V20070822%2FDE%2Ftenghamn-21%2F8004%2F6286fd77-451d-4e2d-8d06-63a64cf01f2a"> </SCRIPT> <NOSCRIPT><A rel="nofollow" HREF="http://ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=DE&ID=V20070822%2FDE%2Ftenghamn-21%2F8004%2F6286fd77-451d-4e2d-8d06-63a64cf01f2a&Operation=NoScript">Amazon.de Widgets</A></NOSCRIPT>
        <br/><br/>
    </div>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
</article>